{% extends 'hod_templates/base_template.html' %}
{% load static %}
<!-- Main content -->
{% block page_title %}
Add Student
{% endblock page_title %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Student</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'addStudentSave' as action_path %}
                    {% include 'hod_templates/form_template.html' with form=form messages=messages action_path=action_path button_text='Add Student' %}
                </div>
            </div>
        </div>
</section>
{% endblock main_content %}


<!-- /.content -->