{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin_home" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">PNC Test Bank System </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'dist/img/aaron.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{user.username}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    {% url 'addStaff' as addStaff %}
                    <a href=" {{addStaff}} " class="nav-link {% if request.path == addStaff %} active {% endif %}  ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Staff
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manageStaff' as manageStaff %}
                    {% url 'editStaff' id as editStaff %}
                    <a href=" {{manageStaff}} "
                        class="nav-link {% if request.path == manageStaff %} active {% endif %} {% if request.path == editStaff %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Staff
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'addStudent' as addStudent %}
                    <a href=" {{addStudent}} " class="nav-link {% if request.path == addStudent %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Student
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manageStudent' as manageStudent %}
                    {% url 'editStudent' id as editStudent %}

                    <a href=" {{manageStudent}} "
                        class="nav-link {% if request.path == manageStudent %} active {% endif %} {% if request.path == editStudent %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Student
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'addCourse' as addCourse %}
                    <a href=" {{addCourse}} " class="nav-link {% if request.path == addCourse %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Course
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manageCourse' as manageCourse %}
                    {% url 'editCourse' id as editCourse %}

                    <a href=" {{manageCourse}} "
                        class="nav-link {% if request.path == manageCourse %} active {% endif %} {% if request.path == editCourse %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Course
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'addSubject' as addSubject %}
                    <a href=" {{addSubject}} " class="nav-link {% if request.path == addSubject %} active {% endif %} ">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Add Subject
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'manageSubject' as manageSubject %}
                    {% url 'editSubject' id as editSubject %}
                    <a href=" {{manageSubject}} "
                        class="nav-link {% if request.path == manageSubject %} active {% endif %} {% if request.path == editSubject %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage Subject
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>